[Unit]
Description=Go RATT
After=multi-user.target

[Service]
WorkingDirectory=/home/bkg/goratt
Type=idle
User=root
Restart=always
ExecStartPre=/home/bkg/goratt/kbdstop.sh
ExecStart=/home/bkg/goratt/goratt
RestartSec=15s

[Install]
WantedBy=multi-user.target
